<section data-ng-controller="RecallsController as RecallsCtlr">
    <div class="page-header">
        <h1>New Recall</h1>
    </div>

    <div >
  <md-content md-theme="light-blue-dark">
    <form style="padding: 20px;">
      <div class="row">
        <md-text-float label="Question" ng-model='RecallsCtlr.question'></md-text-float>
        <md-text-float label="Answer" type="text" ng-model='RecallsCtlr.answer'></md-text-float>
        <tags-input ng-model="RecallsCtrl.tags">
          <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input>
        <md-content>
          <md-button class="md-raised " ng-click='RecallsCtlr.create()'>Primary</md-button>
        </md-content>       
      </div>
    </form>
  </md-content>



</div>
</section>