<section data-ng-controller="RecallsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Recall</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                 <div class="row">
                    <md-text-float label="Question" ng-model='recall.question'></md-text-float>
                    <md-text-float label="Answer" type="text" ng-model='recall.answer'></md-text-float>
                    <tags-input ng-model="recall.tags">
                      <auto-complete source="loadTags($query)"></auto-complete>
                    </tags-input>      
                  </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>